body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 20px;
}
nav a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}
.navbar a{
  text-decoration: none;
  color: black;
}
.navbar nav {
  display: flex;
  gap: 20px;
}
.heading{
  text-align: center;
}
.accounts-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.account-card{
  background-color: white;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.withdraw-btn{
  background-color: red;
}
.transfer-btn{
  background-color: orange;
}
ul {
  padding-left: 18px;
}
li {
  margin-bottom: 5px;
}
.deposit {
  color: green;
}

.withdraw {
  color: red;
}

.transfer {
  color: orange;
}